<ion-view title="What's Here?">
    <ion-content class="padding">
	<link rel="stylesheet" href="css/bootstrap.css">
	
		<div class="card" ng-show="q.question == 'start'">
            <h2>The Quiz is about to start!</h2>
            <h4>First correct earns 5 points!</h4>
            <h4>Any correct earns 2 points!</h4>
        </div>
		
		<h4> Legend
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Score</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in leaders">
					<th>First</th>
					<td>Second</td>
				</tr>
			</tbody>
		</table>
		</h4>

    </ion-content>
</ion-view>